@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.form {
  max-width: 400px;
  margin: auto;
  background-color: #f0f0f0;
  height: 100vh;
  margin-top: 50px;
}

.formHeader {
  text-align: center;
  color: white;
  font-family: 'Cookie', cursive;
}

.formGroup {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.label {
  width: 100%;
}

.formControl {
  width: 100%;
}

.btn {
  width: 100%;
  border: none;
  height: 50px;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 20px;
}

.h2 {
  font-size: 3rem;
  font-weight: 900;
  padding: 30px 0;
}

.p {
  font-size: 2.5rem;
  padding: 20px 0;
}

.error,
.noSignedUpMessage {
  color: rgb(197, 83, 83);
}

.signedUpMessage {
  color: #10bbb5;
}

