@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

.form {
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  background-color: #f0f0f0;
  min-height: 90vh;
  margin-top: 70px;
  padding-bottom: 20px;
}

.formHeader {
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Cookie', cursive;
  margin-bottom: 20px;
}

.formGroup {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}

.label {
  width: 100%;
}

.formControl {
  width: 100%;
}

.btn {
  width: 100%;
  border: none;
  height: 50px;
  color: white;
  font-family: 'Cookie', cursive;
  font-size: 2rem;
  font-weight: 900;
  margin-top: 20px;
}

.h2 {
  font-size: 3rem;
  font-weight: 900;
}

.p {
  font-size: 2.5rem;
  padding: 20px 0;
}

.error,
.noSignedUpMessage,
.noSignedInMessage {
  color: rgb(197, 83, 83);
  font-weight: 800;
}

.signedUpMessage {
  color: #099715;
  font-weight: 600;
}

.orGroup {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto -10px;
  font-family: 'Cookie', cursive;
  font-weight: 900;
  color: gray;
  line-height: 30px;
}

.line {
  width: 40%;
  margin-top: -3px;
  position: relative;
  top: 20px;
  border: 1px solid black;
  background: black;
  margin-bottom: 50px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlayInner {
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90%;
  height: 20%;
}

.btnWrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.cancelBtn,
.yesBtn {
  display: block;
  width: 100px;
  color: white;
  background-color: #10bbb5 !important;
  border: none;
  height: 30px;
  font-size: 1.2rem;
}

.cancelBtn {
  margin-right: 10px;
}

.yesBtn {
  margin-left: 10px;
}

.areYouSure {
  font-size: 1.2rem;
  margin-top: 20px;
  text-align: center;
  padding: 0 3px;
}

@media all and (min-width: 750px) {
  .h2 {
    font-size: 3rem;
    padding: 30px 0;
  }

  .form {
    min-width: 500px;
    margin-top: 20px;
  }

  .overlay {
    height: 100vh;
    width: 100vw;
  }

  .overlayInner {
    width: 30%;
    height: 20%;
  }
}
