/* Styling for page layout and nav bar  */

/* Mobile version */
.desktop-nav {
  display: none;
}

body,
#root {
  height: 100vh;
}

*,
.navLinks {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
.navLinks,
.navLinks li a {
  list-style: none;
  text-decoration: none;
}

.logo {
  width: 15%;
}

.lease-form {
  position: relative;
  background-image: url("/src/images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
}

/* This allows the text to be displayed on top of the overlay */
.lease-form > * {
  position: relative;
  z-index: 2;
}

#color-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #99c210;
  opacity: 0.6;
}

.lease-text {
  color: white;
  text-align: center;
}

.fc {
  background-color: transparent;
  border: solid white;
  border-radius: 25px;
  color: white;
}

.active,
.submit-button:hover {
  background-color: white;
  color: #99c210;
  font-weight: bold;
  border-color: #99c210;
}

.navbar-toggler {
  border: none;
}

.offcanvas {
  background-color: #f4f4f4;
}

.menu4,
.close {
  font-size: 30px;
}

.offcanvas-header {
  padding-right: 30px;
}

.navLinks li a {
  display: block;
  font-weight: bold;
  color: #161616;
  padding: 25px;
}

.navLinks li {
  padding: 0;
}

.active,
.navLinks li a:hover {
  background-color: #99c210;
  color: #fff;
}

.copyright {
  font-weight: bold;
  padding-top: 49%;
  color: #616c7d;
}

.random {
  padding-top: 100px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  .mobile {
    display: none;
  }

  #root {
    display: flex;
  }

  .desktop-nav {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
    width: 20%;
    padding: 15px 0;
    text-align: center;
    justify-content: space-between;
  }

  .the-form {
    display: flex;
    align-items: self-end;
    column-gap: 30px;
  }

  .lease-form {
    padding: 0 100px;
  }

  .logo-container {
    padding-bottom: 50px;
  }

  .logo {
    width: 50%;
  }

  .copyright {
    font-weight: bold;
    color: #616c7d;
  }
}

/* Styles for singleApartment page *

}

/* Styling for page layout and nav bar  */

/* Style for homepage */

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.apartment-heading,
.apartmentname {
  color: #0dafaa;
}

.description {
  color: #000;
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
  margin: 0 10px;
}

.homepage-card {
  height: 500px;
  width: 90%;
  border: 15px solid #163d3b;
  border-radius: 10px;
  margin: 1rem;
}

.hover_effect {
  width: 100%;
  height: 250px;
}

.hover_effect:hover {
  height: 70%;
  width: 100%;
}

.singledescription {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}

.book-apartment {
  transition: all 2s;
  cursor: pointer;
}

/* Style for homepage */

.feature {
  height: 300px;
  width: 100%;
  margin: 0.3rem;
}

.singleapartment-image {
  height: 300px;
  width: 90%;
  border: 15px solid #0de4c0;
  border-radius: 10px;
  margin: 1rem;
}
